body,
#page-wrapper {
    background: #f0f0f0;
}

#page-content {
    background: #fff;
}

.padding-10 {
    padding: 10px;
}

.btn.margin-bottom-20 {
    margin-bottom: 20px;
}

.btn.straight {
    border-radius: 0;
}

.error-display {
    color: #db1616;
}

/* * * * * Header * * * * */
#page-header .navbar {
    margin-bottom: 0;
    background: #db1616;
    border-radius: 0;
    border: none;
    -moz-box-shadow: 0px 2px 10px 0px #656565;
    -webkit-box-shadow: 0px 2px 10px 0px #656565;
    -o-box-shadow: 0px 2px 10px 0px #656565;
    box-shadow: 0px 2px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=10);
}

.navbar-brand > i {
    color: #fff;
}

#page-header .navbar-form {
    border-bottom: none;
}

#page-header .navbar-nav > li > a {
    color: #fff;
    -webkit-transition : border 100ms ease-in;
    -moz-transition : border 100ms ease-in;
    -o-transition : border 100ms ease-in;
    transition : border 100ms ease-in;
}

#page-header .navbar-nav > li > a:hover {
    color: #db1616;
    text-decoration: underline;
}

#page-header .navbar-nav > li.active > a,
#page-header .navbar-nav > li > a:active,
#page-header .navbar-nav > li > a:focus {
    background: #fff;
    color: #db1616;
    text-decoration: underline;
}

#page-header .hvr-sweep-to-top:before {
    background: #fff;
}

#page-header [type="submit"]:hover {
    color: #7c7c7c;
    background: #fff;
}

#page-header .navbar-toggle {
    color: #fff;
    border-color: #fff;
}

#page-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

#page-header .navbar-toggle:hover,
#page-header .navbar-toggle:active,
#page-header .navbar-toggle:focus {
    background: #fff;
}

#page-header .navbar-toggle:hover .icon-bar,
#page-header .navbar-toggle:active .icon-bar,
#page-header .navbar-toggle:focus .icon-bar {
    background-color: #db1616;
}

#page-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* * * * * Formulaires * * * * */
.control-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

#page-header .form-control,
#page-content .form-control {
    border-radius: 0;
}

.btn.btn-default {
    border-radius: 0;
}

.btn.btn-default:hover {
    text-decoration: underline;
}

/* * * * * Breadcrumb * * * * */
#page-breadcrumb {
    background: #f0f0f0;
    padding-top: 20px;
}

ol.breadcrumb {
    background: transparent;
    margin-bottom: 10px;
}

.rounded-border {
    border: 1px solid #ddd;
    border-radius: 3px;
}

form {
    margin-bottom: 10px;
}

#page-content .cards-container {
    height: 500px;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.cards-container .collapse-card p {
    padding: 0;
}

.cards-container .collapse-card {
    padding: 0;
}

.cards-container .collapse-card .title {
    padding: 10px;
    font-size: 12px;
}

.cards-container .collapse-card .title i {
    float: none;
}

.cards-container .collapse-card.red .title {
    background: #db1616;
    color: #fff;
}

.cards-container .collapse-card.yellow .title {
    background: #ebd263;
    color: #fff;
}

.cards-container .collapse-card.green .title {
    background: #4ea13a;
    color: #fff;
}

.cards-container .collapse-card.black .title {
    background: #2c2c2c;
    color: #fff;
}

.cards-container .collapse-card {
    background: #f5f5f5;
}

.cards-container .form-group {
    margin-bottom: 10px;
}

.cards-container .form-group .form-control-static {
    min-height: 0;
}

div .container{
    padding: 20px;
}
span .paragraph{

}

/* * * * * Map * * * * */
#map-voir-alertes {
    height: 500px;
    margin-bottom: 20px;
}

#map-indiquer-position {
    height: 300px;
}

.map-tooltip {
    font-size: 11px;
}

/* * * * * Footer * * * * */
#page-footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 11px;
    background: #fff;
}